@import "tailwindcss";

@theme {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
}

@layer base {
  html, body {
    @apply antialiased;
  }
}
